.Breadcrumb-About {
  background-color: rgb(237, 238, 239);
  line-height: 5em;
  height: 5em;
}

.Container-Breadcrumb-About {
  width: 90%;
}

.Container-Breadcrumb-About span {
  font-size: 1.2em;
  margin: 0 0.3em;
  opacity: 0.7;
}

#Breadcrumb-About-Home {
  opacity: 1;
  cursor: pointer;
}

.Wrapper-About {
  width: 90%;
  margin: 1em auto;
  padding: 3em;
  border-radius: 0.3em;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.Wrapper-About h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em;
}

.Wrapper-About p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.7em;
}

@media (max-width: 1024px) {
  .Breadcrumb-About {
    width: 100%;
  }
  .Container-Breadcrumb-About {
    width: 80%;
  }
  .Container-Breadcrumb-About span {
    font-size: 1em;
  }
  .Container-About {
    width: 100%;
  }

  .Wrapper-About {
    width: 90%;
  }
  .Wrapper-About p {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .Wrapper-About {
    margin: .5em auto;
    padding: 2em;
  }
  .Wrapper-About h1 {
    text-align: center;
  }
  .Container-Breadcrumb-About span {
    font-size: 1em;
  }
  .Wrapper-About p {
    font-size: .9em;
  }
}
@media (max-width: 500px) {
  .Wrapper-About {
    padding: .5em;
  }
  .Wrapper-About h1 {
    text-align: center;
    font-size: 1.2em;
  }
  
}
