.MainToasts {
  background-color: var(--Primary-Color) !important;
  color: var(--Dark-Color) !important;
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: center;
  z-index: 99999;
}
@media (max-width: 1024px){
  .MainToasts{
    bottom: 3.5em;
    right:0;
  }
}