.MainToasts {
  background-color: var(--Primary-Color) !important;
  color: var(--Dark-Color) !important;
  position: fixed;
  top: 48em;
  right: 1em;
  text-align: center;
  z-index: 99999;
}
@media (max-width: 1024px){
  .MainToasts{
    top: 0;
    right:0;
  }
}