.Container-BillAddress{
    width: 100%;
    margin: 3em auto;
}

.Wrapper-BillAddress{
    width: 90%;
    margin: 0 auto;
}

.Wrapper-BillAddress h2{
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom:1.5em ;
}
@media(max-width:768px){
    .Container-BillAddress{
        margin: .7em auto;
    } 
    .Wrapper-BillAddress h2{
        font-size: 1.2em;
        padding-bottom:.5em ;
    }
}