.Container-Cart {
  width: 1500px;
  margin: 3em auto;
}
.Wrapper-Cart {
  width: var(--Max-Width);
  margin: 0 auto;
}

.Total-Product-Cart {
  display: flex;
}
.Container-Total-Cart {
  width: 30%;
  margin: 2em;
}

.Wrapper-Total-Cart {
  padding: 1.5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.Total-Cart,
.AmountPayable-Cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0;
}

.Discount-Cart,
.PostPrice-Cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

#Total-Cart-Btn {
  width: 100%;
  border: none;
  font-size: 1.1em;
  background-color: var(--Primary-Color);
  padding: 0.7em 0;
  margin-top: 1.5em;
  border-radius: 0.3em;
  color: rgba(0, 0, 0, 0.7);
}

#Total-Cart-Btn:hover {
  background-color: var(--Hover-Color);
}

.NotProduct-Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}

.Icon-NotProduct-Cart {
  font-size: 15em;
  opacity: 0.2;
}

.Description-NotProduct-Cart {
  font-size: 2em;
  margin: 2em 0;
  font-weight: bold;
}

.Back-Product-Cart {
  color: var(--White-Color);
  background-color: var(--Danger-Color);
  border: none;
  border-radius: 0.3em;
  padding: 0.8em;
  font-size: 1.3em;
}

.Back-Product-Cart:hover {
  background-color: var(--Danger-Hover-Color);
}

@media (max-width: 1024px) {
  .Container-Cart {
    width: 100%;
    margin: .2em auto;
  }
  .Wrapper-Cart {
    width: 100%;
    margin: 0 auto;
  }
  .Total-Product-Cart {
 
    flex-direction: column;
  }
  .Container-Total-Cart {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .Container-Cart {
    width: 100%;
    margin: 0 auto;
  }
  .Description-NotProduct-Cart {
    font-size: 1em;
  }
}
