.Proposal-products-Card {
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.Proposal-products-Card .Proposal-Product-Card {
  width: 100%;
  position: relative;
  padding: 2em 0;
  background-color: var(--White-Color);
}

.Proposal-products-Card .Proposal-Product-Card .Proposal-Icon-Card-Product {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  transition: 0.5s;
  z-index: 10;
}

.Proposal-Product-Wrapper-Card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Proposal-Product-Discount {
  position: absolute;
  background-color: var(--Primary-Color);
  color: var(--Dark-Color);
  font-size: 0.8em;
  border-radius: 1em;
  padding: 0.3em 0.7em;
  top: -1em;
  right: 1.5em;
  z-index: 10;
  cursor: default;
}

.Proposal-Card-Product-Body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Proposal-Card-Product-Title {
  padding: 1em;
  font-weight: bold;
  cursor: default;
}

.Proposal-Price-Product-Card {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 0.5em 0;
}

.Proposal-Price-Product-Card .Proposal-Price-Card {
  padding: 0 0.5em;
  font-size: 0.9em;
  color: var(--White-Color);
  color: red;
}

.Proposal-Price-Discount-Card {
  font-size: 0.8em;
  opacity: 0.7;
  text-decoration: line-through;
}

.Proposal-MoreInfo-Product-Card {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 0.3em;
  background-color: var(--Primary-Color);
  color: var(--Dark-Color);
  cursor: default;
}

.Proposal-MoreInfo-Product-Card span {
  padding: 0 0.3em;
}

.Proposal-Card-Product-Body .Proposal-Insert-Cart {
  border: none;
  background-color: var(--Dark-Color);
  color: var(--White-Color);
  opacity: 0.9;
  padding: 0.7em;
  margin-bottom: 2em;
  margin-top: 0.5em;
  border-radius: 0.3em;
  font-size: 0.8em;
}
.Proposal-Card-Product-Body .Proposal-Insert-Cart:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .Proposal-Price-Discount-Card,
  .Proposal-MoreInfo-Product-Card,
  .Proposal-Card-Product-Body .Proposal-Insert-Cart,
  .Proposal-Product-Discount {
    font-size: 0.7em;
  }

  .Proposal-Card-Product-Title,
  .Proposal-Price-Product-Card .Proposal-Price-Card {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .Proposal-products-Card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

@media (max-width: 500px) {
  .Proposal-products-Card {
    grid-template-columns: 1fr;
  }
}
