.All-Product {
  height: 100%;
  width: 1500px;
  margin: 3em auto;
}

.Product-Category-Title {
  margin-top: 2em;
  margin-right: 4em;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--Dark-Color);
  /* background: linear-gradient(to right, red 94%, darkblue 2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent; */
}

.Product-Category-Title h2 {
  padding: 0.5em;
}

.Product-Category-Title .Br-CategoryTitle {
  opacity: 0.3;
  width: 75%;
  height: 1.5px;
  background-color: var(--Dark-Color);
}

.Allproducts-Card {
  margin: 0 auto;
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 2em;
}

@media (max-width: 1024px) {
  .All-Product {
    width: 100%;
    margin: 1.5em auto;
  }

  .Product-Category-Title {
    margin-top: 0;
  }

  .Product-Category-Title .Br-CategoryTitle {
    width: 70%;
  }
  .Allproducts-Card {
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .All-Product {
    margin: .5em auto;
  }
  .Product-Category-Title {
    padding: 0;
    margin: .5em 0;
    flex-direction: column;
    justify-content: center;
  }

  .Product-Category-Title h2 {
    padding: 0;
    text-shadow: 1px 1px 1px #000;
  }
  .Product-Category-Title .Br-CategoryTitle {
    display: none;
  }

  .Allproducts-Card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

@media (max-width: 500px){
  .Allproducts-Card {
    grid-template-columns: 1fr;
    column-gap: 5em;
  }
}
