.All-Product {
  height: 100%;
  /* background-color: var(--White-Color); */
  margin: 3em;
}

.Product-Category-Title {
  margin-top: 2em;
  margin-right: 4em;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--Dark-Color);
  /* background: linear-gradient(to right, red 94%, darkblue 2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent; */
}

.Product-Category-Title h2 {
  padding: 0.5em;
}

.Product-Category-Title .Br-CategoryTitle {
  opacity: 0.3;
  width: 75%;
  height: 1.5px;
  background-color: var(--Dark-Color);
}

.products-Card {
  margin: 0 auto;
  width: 80em;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 2em;
}


