.CommentsProduct-Container {
  background-color: var(--Secondary-Color);
}

.CommentsProduct-Wrapper {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.CommentsProduct-Star {
  color: red;
}

.CommentsProducts {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Insert-CommentsProduct {
  padding: 2em;
  line-height: 2em;
}
.Insert-CommentsProduct span,
.Insert-CommentsProduct h2 {
  font-size: 0.9em;
}

.CommentsProduct-Stars {
  display: flex;
}

.CommentsProduct-FullStar1,
.CommentsProduct-FullStar2,
.CommentsProduct-FullStar3,
.CommentsProduct-FullStar4,
.CommentsProduct-FullStar5 {
  color: var(--Primary-Color);
}

.CommentsProduct-Name-Email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CommentsProduct-Name,
.CommentsProduct-Email {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.CommentsProduct-Name input,
.CommentsProduct-Email input,
#YourViewPoint {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#YourViewPoint {
  width: 100%;
  height: 10em;
}

.CommentsProduct-CheckBox {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}

.CommentsProduct-CheckBox input {
  font-size: 1.2em;
  margin: 0 0.5em;
}

.CommentsProduct-CheckBox span {
  font-size: 0.9em;
}

.CommentsProduct-Submit {
  border: none;
  background-color: var(--Primary-Color);
  padding: 0.3em 1em;
  border-radius: 0.3em;
  margin: 2em 0;
}

@media (max-width: 1024px) {
  .CommentsProduct-Container {
    width: 100%;
  }

  .CommentsProduct-Wrapper {
    width: 100%;
  }

  .CommentsProducts {
    margin-top: 2em;
    padding: 0.5em;
    justify-content: space-around;
  }

  .CommentsProducts h2 {
    font-size: 0.7em;
  }

  .CommentsProducts span {
    font-size: 0.6em;
  }
}

@media (max-width: 768px) {
  .CommentsProduct-Wrapper {
    grid-template-columns: 1fr;
  }
  .CommentsProducts {
    padding: 0;
  }

  .CommentsProducts h2,
  .CommentsProducts span {
    font-size: 0.9em;
  }
  .Insert-CommentsProduct {
    padding: 0;
  }
  .CommentsProduct-CheckBox input {
    margin: 0;
  }
  .CommentsProduct-CheckBox span {
    font-size: 0.7em;
  }
  .CommentsProduct-Submit {
    margin: 0.5em 0;
  }
}
@media (max-width: 425px) {
  .CommentsProducts h2,
  .CommentsProducts span {
    font-size: 0.7em;
  }
  .CommentsProduct-Name-Email {
    flex-direction: column;
  }
  .CommentsProduct-CheckBox span {
    font-size: 0.5em;
  }
}
