.DescriptionProduct{
    width:1500px;
    margin: 0 auto;
    padding: 1em 3em ;
}

.Wrapper-DescriptionProduct{
    width: var(--Max-Width);
    margin: 0 auto;
}

.DescriptionProduct h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.DescriptionProduct h2{
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}
.DescriptionProduct p{
    text-align: justify;
    line-height: 2em;
}

@media (max-width: 1024px) {
    .DescriptionProduct{
        width:100%;
        margin: 0 auto;
        padding: 1em 3em ;
    }
    
    .Wrapper-DescriptionProduct{
        width: 100%;
        margin: 0 auto;
    }
}