.Container-Proposal-Category {
  width: 1500px;
  margin: 5em auto;
}

.Proposal-Category {
  width: 100%;
  height: 40em;
  background-color: var(--Primary-Color);
  padding: 1em 0;
}
.Proposal {
  width: 100%;
  margin: 0 auto;
  height: 25em;
  background-color: var(--Dark-Color);
}

.Proposal-Wrapper {
  display: flex;
  width: 74%;
  margin: 0 auto;
  padding: 2em 0;
}

.Proposal-text-btn {
  flex: 1;
  height: 25em;
  color: var(--White-Color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.Proposal-text {
  font-size: 1.6em;
  grid-row: 4 / span 2;
  grid-column: 2 / span 6;
  line-height: 1.4em;
}

.Proposal-btn {
  grid-row: 6 / span 1;
  grid-column: 2 / span 4;
  align-self: center;
  font-size: 0.9em;
  padding: 0.6em 0;
  background-color: transparent;
  color: var(--White-Color);
  border: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0.3em;
}
.Proposal-btn:hover {
  border: 2px solid var(--White-Color);
}

.Proposal-Products {
  height: 25em;
  flex: 4;
}

.Proposal-Product-Category {
  width: 37%;
  height: 6em;
  margin: 0 auto;
  transform: scale(2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.Proposal-Product-Category-Title {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4em;
  font-size: 1em;
  padding-bottom: 1em;
}

.Proposal-Product-Category-Title h2 {
  padding: 0 2.8em 0 2em;
}

.Br-Proposal-Product-Category-Title {
  width: 75%;
  height: 1.5px;
  background-color: var(--Dark-Color);
  opacity: 0.1;
}

@media (max-width: 1024px) {
  .Container-Proposal-Category {
    width: 100% !important;
  }

  .Proposal-Category {
    height: 37em;
  }

  .Proposal {
    height: 22em;
  }

  .Proposal-Wrapper {
    width: 95%;
  }
  .Proposal-text {
    font-size: 1.2em;
  }

  .Proposal-btn {
    font-size: 0.8em;
  }

  .Proposal-Products {
    height: 20em;
  }
  .Proposal-Product-Category {
    width: 75%;
    transform: scale(1.2);
    margin: 0 auto;
    height: 8em;
  }

  .Proposal-Product-Category-Title {
    margin-bottom: 1em;
  }

  .Br-Proposal-Product-Category-Title {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .Container-Proposal-Category {
    margin-bottom: 35em;
  }
  .Proposal-Wrapper {
    flex-direction: column;
  }
  .Proposal-text-btn {
    margin-bottom: 3em ;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
  }

  .Proposal-text {
    grid-column: 1 / span 8;
    text-align: center;
  }

  .Proposal-btn {
   display: none;
  }

  .Proposal-Category {
    height: 80em;
  }

  .Proposal {
    height: 65em;
  }
  .Proposal-Product-Category {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .Proposal-Product-Category-Title {
    width: 50%;
    margin: 1.5em auto;
  }
  .Proposal-Product-Category-Title h2 {
    width: 90%;
    margin: 0 auto;
  }
  .Br-Proposal-Product-Category-Title {
    display: none;
  }
}
@media (max-width: 650px){
  .Proposal-Category {
    height: 75em;
  }

  .Proposal {
    height: 60em;
  }
}
@media (max-width: 500px) {
  .Container-Proposal-Category {
    margin-bottom: 37em;
    margin-top: 0;
  }

  .Proposal-Wrapper {
    flex-direction: column;
  }
  .Proposal-text-btn {
    margin-bottom: 3em ;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
  }

  .Proposal-text {
    grid-column: 1 / span 8;
    text-align: center;
  }

  .Proposal-btn {
   display: none;
  }

  .Proposal-Category {
    height: 155em;
  }

  .Proposal {
    height: 145em;
  }
  .Proposal-Product-Category{
    grid-template-columns: 1fr;
    width: 75%;
  }

  .Proposal-Product-Category-Title {
    width: 100%;
   margin: 0 auto;
   margin-bottom: 1.5em;
  }
  .Proposal-Product-Category-Title h2 {
    width: 100%;
    margin: 0 auto;
  }
  .Br-Proposal-Product-Category-Title {
    display: none;
  }
}
@media (max-width: 475px){
  .Proposal-Category {
    height: 152em;
  }

  .Proposal {
    height: 142em;
  }
}
@media (max-width: 450px){
  .Proposal-Category {
    height: 148em;
  }

  .Proposal {
    height: 138em;
  }
}
@media (max-width: 425px){
  .Proposal-Category {
    height: 144em;
  }

  .Proposal {
    height: 134em;
  }
}
@media (max-width: 400px){
  .Proposal-Category {
    height: 140em;
  }

  .Proposal {
    height: 130em;
  }
}
@media (max-width: 375px){
  .Proposal-Category {
    height: 136em;
  }

  .Proposal {
    height: 126em;
  }
}
@media (max-width: 350px){
  .Proposal-Category {
    height: 131em;
  }

  .Proposal {
    height: 122em;
  }
}
@media (max-width: 325px){
  .Proposal-Category {
    height: 127em;
  }

  .Proposal {
    height: 118em;
  }
}