.Container-TransportationAddress {
  width: 100%;
  margin: 3em auto;
}

.Wrapper-TransportationAddress {
  width: 90%;
  margin: 0 auto;
}

.Wrapper-TransportationAddress h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 1.5em;
}
@media (max-width: 768px) {
  .Container-TransportationAddress {
    margin: 0.3em auto;
  }
  .Wrapper-TransportationAddress h2 {
    font-size: 1.2em;
    padding-bottom: .5em;
  }
}
