.Container-Modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: -55%;
  left: 40%;
  width: 30em;
  height: 12em;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: var(--Dark-Color);
  color: var(--White-Color);
  transition: all 0.7s;
  z-index: 9999999999;
}

.ShowModal {
  top: 30%;
}

.close-Modal {
  margin-right: 1em;
  cursor: pointer;
}

.close-Modal:hover {
  color: var(--Danger-Color);
}

.paragraph-Modal p {
  padding-right: 3em;
}

.Btns-Modal {
  display: flex;
  justify-content: end;
  margin-left: 2em;
}

.Btns-Modal button {
  border: none;
  background-color: var(--Primary-Color);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  margin: 0 0.2em;
  font-weight: bold;
}

.Btns-Modal button:hover {
  background-color: var(--Hover-Color);
}

@media (max-width: 1024px) {
  .Container-Modal {
    left: 25%;
  }
}

@media (max-width: 768px) {
  .Container-Modal {
    left: 30%;
    width: 20em;
    height: 8em;
  }
}

@media (max-width: 500px) {
  .Container-Modal {
    position: fixed;
    left: 20%;
    width: 15em;
    height: 6em;
  }

  .paragraph-Modal p {
    font-size: 0.7em;
  }

  .Btns-Modal button {
    font-size: 0.7em;
  }
}
