.Container-Checkout {
  width: 90%;
  margin: 3em auto;
}
.Star-Checkout {
  color: var(--Danger-Color);
}

.Wrapper-Checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.BeforeRegisteringCheckout {
  width: 50%;
  grid-column: 1 / span 2;
}
.Container-YourOrder-Checkout {
  padding: 1.5em;
}
@media (max-width :1024px){
  .Container-Checkout {
    width: 100%;
    margin: .3em auto;
  }
  .Container-YourOrder-Checkout {
    padding: .5em;
    padding-top: 0;
  }
}
@media (max-width :768px){
  .Container-Checkout {
    margin-bottom: 0 ;
  }
  .BeforeRegisteringCheckout {
    width: 100%;
    grid-column: 1 / span 1;
  }
  .Wrapper-Checkout {
    grid-template-columns: 1fr;
  }
}
