.Main-NavBar {
  padding: 0 7em;
  background-color: var(--Dark-Color);
}

.Container-NavBar {

  width: 100%;
}

.Wrapper-NavBar {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
}

.Menus-NavBar {
  margin-right: 2em;
}

@media (max-width: 1024px) {
  .Main-NavBar {
    display: none;
  }
}
