.Main-NavBar {
  width: 100%;

  background-color: var(--Third-Color);
}

.Container-NavBar {
  width: var(--Max-Width);
  margin: 0 auto;
}

.Wrapper-NavBar {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.Menus-NavBar {
  margin-right: 2em;
}


@media (max-width: 1024px) {
  .Main-NavBar {
    display: none;
  }
}
