.Search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swal-footer {
  display: flex;
  justify-content: center;
}
.swal-footer button {
  background-color:var(--Primary-Color);
  color: #fff;
}

.swal-footer button:hover{
  background-color: var(--Hover-Color) !important;
}

.Search-Input {
  width: 100%;
  padding: 0.3em 0;
  border-radius: 0.3em;
  outline: none;
  border: 1px solid var(--Dark-Color);
}
.Search-Input:hover {
  border: 1px solid var(--Primary-Color);
}

.Search-Input::placeholder {
  padding: 0 2em;
}

.Search-Icon {
  position: absolute;
  cursor: pointer;
  left: -1px;
  font-size: 1.5em;
  background-color: var(--Primary-Color);
  padding: 0.3em 0.4em;
  border-radius: 0.3em 0 0 0.3em;
  color: var(--Text-Color);
}
.Search-Icon:hover {
  background-color: var(--Hover-Color);
}
