.Container-MainCategory {
  width: 100%;
  margin: 3em auto;
}

.Container-MainCategory h1 {
  width: 90%;
  margin: 1.5em auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.Wrapper-MainCategory {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

@media (max-width: 1024px) {
  .Container-MainCategory {
    width: 100%;
    margin: 1.5em auto;
  }
  .Container-MainCategory h1,.Wrapper-MainCategory{
    width: 95%;
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .Container-MainCategory {
    margin: .2em auto;
  }
  .Container-MainCategory h1 {
    margin-top: 0;
    margin-bottom: 1em;
    display: none;
  }
  .Wrapper-MainCategory {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

@media (max-width: 500px) {
    .Wrapper-MainCategory {
    grid-template-columns: 1fr;
    column-gap: 5em;
  }
}
