.Opacity-Min {
  background-color: black;
  filter: brightness(30%);
}

.Btn-ScrollTop {
  position: fixed;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  bottom: 2em;
  left: 2em;
  background-color: #d6dde3;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  display: none;
}
.Btn-ScrollTop:hover{
  background-color: #cacfd4;
}
.Show-ScrollTop {
  display: block;
}
