.Container-FooterTop{
    padding: 0 7em;
}

.wrapper-FooterTop{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1fr;
}
.Logo-FooterTop{
    width: 70%;
}

@media (max-width:1024px){
    .Container-FooterTop{
        display: none;
    }
}